// fonts
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap')

// base
// @import "base/mixins"
// blocks
@import "blocks/logo"
@import "blocks/header"
@import "blocks/promo"
@import "blocks/subpromo"
@import "blocks/carousel"


.container 
    margin: 0 auto
    width: 100%
    max-width: 1800px

