.header
    &__nav
        display: flex
        padding-inline-start: 0px
        margin: 10px 0
        white-space: nowrap
        &-scroll-container
            width: 100%
            overflow-x: auto
            height: 50px
        &-wrapper
            display: flex
            justify-content: center
            overflow: hidden
        &-language
            @include header_nav_greyOutline
            @include header_nav_hover
        &-link
            text-decoration: none
            color: black
            font-size: 25px
            &:hover
                color: black
        &-item 
            list-style-type: none
            line-height: 1.2
            @include header_nav_greyOutline
            @include header_nav_hover
            transition: 0.4s
            text-decoration: none
            color: black
            margin-right: 5px
            &:hover
                color: black
            &-active
                @include header_nav_greyOutline
                background-color: rgb(245, 245, 245)
            &:last-child
                margin-right: 0px
        &-login
            text-decoration: none
            margin-right: 30px
            @include header_nav_greyOutline
            @include header_nav_hover
