.header
    &__nav-wrapper
        display: flex
        justify-content: space-between
        align-items: center
        font-family:"Zen Kurenaido",sans-serif
        font-size:20px
    &__nav
        text-decoration: none
        display: flex
    &__nav-language
        text-decoration: none
        color:#000
        cursor: pointer
        padding: 5px 10px
        border-radius: 4px
    &__nav-language
        &:hover
            color:#000
            background-color:#f5f5f5
    &__nav li
        margin-right:30px
        list-style-type: none
        transition: .2s
        color:#000
        cursor: pointer
        padding: 5px 10px
        border-radius: 4px
    &__nav li:hover
        color:#000  
        background-color:#f5f5f5
    &__nav-item
        text-decoration: none
        color:#000
    &__nav-item:hover
        color:#000
    &__nav-login
        text-decoration: none
        margin-right: 30px
        color:#000
        cursor: pointer
        padding: 5px 10px
        border-radius: 4px
        &:hover
            color:#000
            background-color:#f5f5f5
