.header
    &__nav-wrapper
        display: flex
        justify-content: center
        align-items: center 
        font-family: 'Zen Kurenaido', sans-serif
        font-size: 20px  
    &__nav
        display: flex
        padding-inline-start: 0px
        margin: 10px 0
        &-language
            @include header_nav_greyOutline
            @include header_nav_hover
        li
            list-style-type: none
            line-height: 1.2
            @include header_nav_greyOutline
            @include header_nav_hover
            a
                text-decoration: none
                color: black
        &-item 
            transition: 0.4s
            text-decoration: none
            color: black
            margin-right: 5px
            font-size: 25px
            &:hover
                color: black
            &-active
                @include header_nav_greyOutline
                background-color: rgb(245, 245, 245)
            &:last-child
                margin-right: 0px
        &-login
            text-decoration: none
            margin-right: 30px
            @include header_nav_greyOutline
            @include header_nav_hover
