.logo
    padding: 10px 0 0
    display: flex
    justify-content: center
    &__box
        background-color: #97a848
        height: 46px
        width: 155px
        cursor: pointer
    &__barcode-wrapper
        display: block
        text-align: center
        font-size: 40px
        font-family: 'Six Caps', sans-serif
    &__barcode 
        position: relative
        top: -9px
        margin: 0 -3px
