.logo
    padding:10px 0 0
    display: flex
    justify-content: center
    &__box
        height:46px
        background-color:#97a848
        width:155px
        cursor: pointer
        transition: 0.5s
    &__barcode-wrapper
        display: block
        text-align: center
        font-size: 40px
        font-family:"Six Caps",sans-serif
    &__barcode
        position: relative
        top:-9px
        margin:0 -3px
        