.promo
    width: 100%
    background-color: #ffffff
    padding: 3px 10px
    &__modal
        display: none
        &-active
            display: flex
            justify-content: center

.new
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    &__item
        width: 33%   
        img
            border-radius: 3px
            width: 100%
            animation: inflate-left 4s linear infinite