.promo
    width: 100%
    background-color: #ffffff
    padding: 5px 10px
    &__modal
        display: none
        &-active
            display: flex
            flex-wrap: wrap
            width: 100%
            justify-content: center
        &-item
            width: 33%   
            img
                display: block
                margin: 0 auto
                border-radius: 3px
                width: 100%
                height: auto
                animation: inflate-left 4s linear infinite
// ? PROMO PHOTOS
            
